<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Burger Time!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgers.js"></script>
</head>

<body>
	<h1>Super Good Burgers!</h1>


	<img class="image"
		src="https://graphicriver.img.customer.envatousercontent.com/files/262439380/preview.jpg?auto=compress%2Cformat&q=80&fit=crop&crop=top&max-h=8000&max-w=590&s=f249518f48dad1f686c6dfe91337cc24">


	{{{ body }}}
</body>

</html>